{% extends 'base.html.twig' %}

{% block title %}Garage index{% endblock %}

{% block body %}
    <h1>Garage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PostalAdress</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garage in garages %}
            <tr>
                <td>{{ garage.id }}</td>
                <td>{{ garage.name }}</td>
                <td>{{ garage.postalAdress }}</td>
                <td>{{ garage.city }}</td>
                <td>
                    <a href="{{ path('app_garage_show', {'id': garage.id}) }}">show</a>
                    <a href="{{ path('app_garage_edit', {'id': garage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_garage_new') }}">Create new</a>
{% endblock %}
