{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <h2 class="subtitle">Liste du personnel</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-warning">Voir</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun employé trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_user_new') }}" class="btn btn-warning">Ajouter un nouvel employé</a>
{% else %}
    <h2 class="subtitle">Vous n'avez pas accès à cette page</h2>
    <a href="{{ path('home') }}" class="btn btn-warning">Retour à l'accueil</a>
{% endif %}
{% endblock %}
